.default-layout {
  display: grid;
  gap: 15px;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  overflow: auto;
}

footer {
  grid-area: footer;
  background: #000;
  padding: 1rem;
  color: white;
}

.breadcrumb {
  background-color: #fff;
}
